main {
    height: 100svh;
    width: 100%;
    background: url("/images/hero/heroBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
}

main .heroLeft {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.heroLeft .handEmojiAndMessageContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.75rem;
    box-shadow: var(--heroShadow);
    border-radius: 1.25rem;
    animation: var(--fadeIn) 1s ease-in forwards;
}

.handEmojiAndMessageContainer .handEmoji {
    font-size: 5vw;
}

.handEmojiAndMessageContainer .messageContainer p {
    font-size: 1.5vw;
}

.handEmojiAndMessageContainer .messageContainer h1 {
    font-size: 3vw;
}

main .heroMiddle {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.heroMiddle .ringAndTextContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ringAndTextContainer img {
    width: 25vw;
    height: 25vw;
    position: absolute;
    opacity: 0;
    animation: var(--ringFadeIn) 2s ease-in forwards 1s, var(--moveUpDown) 4s ease-in-out infinite 1s;
}

.ringAndTextContainer h2 {
    display: flex;
    color: var(--black);
    flex-direction: column;
    font-size: 9vw;
    animation: var(--fadeIn) 1s ease-in normal;
}

.ringAndTextContainer h2 span {
    font-family: var(--anton);
    display: inline-block;
    line-height: 1.1;
}

.ringAndTextContainer h2 .ringUpText {
    z-index: 2;
}

.heroMiddle .heroMiddleLinksContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.heroMiddleLinksContainer a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    animation: var(--fadeIn) 1s ease-in forwards;
}
.heroMiddleLinksContainer a p{
    font-size: 0.9rem;
}
.heroMiddleLinksContainer a img{
    width: 1.25rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
}
.heroMiddleLinksContainer .resume {
    border: 2px solid var(--secondary);
    color: var(--secondary);
}
.heroMiddleLinksContainer .resume:hover {
    background-color: var(--secondary);
    color: #fff;
}

.heroMiddleLinksContainer .linkedIn {
    border: 2px solid #0077B5;
    color: #0077B5;
}
.heroMiddleLinksContainer .linkedIn:hover {
    background-color: #0077B5;
    color: #fff;
}

.heroMiddleLinksContainer .github {
    border: 2px solid #000;
    color: #000;
}
.heroMiddleLinksContainer .github:hover {
    background-color: #000;
    color: #fff;
}

main .heroRight {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroRight img {
    border-radius: 50%;
    box-shadow: var(--heroShadow);
    transition: animation 1s ease-in-out;
    animation: fadeIn 1s ease-in forwards;
}

.heroRight img:nth-child(1) {
    width: 50%;
}
.heroRight img:nth-child(2) {
    width: 60%;
    margin-left: 5rem;
}

.heroRight img:nth-child(3) {
    width: 40%;
}

@media screen and (max-width:800px){
    main{
        flex-direction: column;
        align-items: center;
    }
    main .heroLeft{
        align-items: center;
        width: 100%;
        height: 20%;
    }
    .heroLeft .handEmojiAndMessageContainer{
        border-radius: 0.5rem;
    }
    .heroLeft .handEmojiAndMessageContainer .handEmoji{
        font-size: 10vw;
        padding-right: 0.5rem;
    }
    main .heroLeft .handEmojiAndMessageContainer .messageContainer p{
        font-size: 2.5vw;
    }
    main .heroLeft .handEmojiAndMessageContainer .messageContainer h1{
        font-size: 5vw;
    }
    main .heroMiddle{
        gap:1rem;
        height: 50%;
        width: 100%;
    }
    main .heroMiddle .ringAndTextContainer img{
        width: 35vw;
        height: 35vw;
    }
    main .heroMiddle .ringAndTextContainer h2{
        font-size: 15vw;
    }
    main .heroMiddle .heroMiddleLinksContainer a{
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
    }
    main .heroRight{
        flex-direction: row;
        height: 30%;
        width: 100%;
        padding:0 2rem 2rem;
    }
    .heroRight img:nth-child(1){
        width: 20vw;
        height: 20vw;
    }
    .heroRight img:nth-child(2){
        width: 25vw;
        height: 25vw;
        margin:auto auto 0;
    }
    .heroRight img:nth-child(3){
        width: 15vw;
        height: 15vw;
    }
}
@media screen and (max-width:426px) {
    main{
        display: flex;
        flex-direction: column;
    }
    main .heroLeft .handEmojiAndMessageContainer .handEmoji{
        font-size: 3rem;
    }
    main .heroLeft .handEmojiAndMessageContainer .messageContainer p{
        font-size: 1.25rem;
    }
    main .heroLeft .handEmojiAndMessageContainer .messageContainer h1{
        font-size: 2rem;
    }
    main .heroMiddle{
        gap: 2rem;
    }
    main .heroMiddle .ringAndTextContainer img{
        width: 12.5rem;
        height: 12.5rem;
    }
    main .heroMiddle .ringAndTextContainer h2{
        font-size: 5rem;
    }
    main .heroMiddle .heroMiddleLinksContainer{
        gap: 0.75rem;
    }
    main .heroRight{
        padding:0 0.5rem 2rem;
    }
    main .heroRight img:nth-child(1){
        width: 5.75rem;
        height: 5.75rem;
    }
    main .heroRight img:nth-child(2){
        width: 7.5rem;
        height: 7.5rem;
    }
    main .heroRight img:nth-child(3){
        width: 5rem;
        height: 5rem;
    }
    
}